openapi: 3.0.3
info:
  title: MDAU API
  description: |
    Documentation de l'API MDAU pour la gestion des utilisateurs et des profils.
    
    **Authentification** : toutes les routes (sauf `/api/auth/token`) nécessitent un token Bearer
    obtenu via `POST /api/auth/token`.
  version: 1.0.0

servers:
  - url: https://votre-domaine.com
    description: Serveur de production

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Token API obtenu via POST /api/auth/token

  schemas:
    # ------------------------------------------------------------------ #
    # Commun                                                               #
    # ------------------------------------------------------------------ #
    ApiSuccess:
      type: object
      properties:
        success:
          type: boolean
          example: true
        status_code:
          type: integer
          example: 200
        message:
          type: string
        message_type:
          type: string
          enum: [success, warning, error, info]

    ApiError:
      type: object
      properties:
        success:
          type: boolean
          example: false
        status_code:
          type: integer
          example: 500
        message:
          type: string
        message_type:
          type: string
          enum: [error, warning]
        data:
          type: object

    CompanyShort:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string

    RegistrationCompany:
      type: object
      nullable: true
      properties:
        id:
          type: integer
        company_name:
          type: string
        username:
          type: string
        application_number:
          type: string

    # ------------------------------------------------------------------ #
    # Auth                                                                 #
    # ------------------------------------------------------------------ #
    TokenResponse:
      allOf:
        - $ref: '#/components/schemas/ApiSuccess'
        - type: object
          properties:
            data:
              type: object
              properties:
                token:
                  type: string
                  description: Token API à utiliser dans le header Authorization
                expires_at:
                  type: string
                  format: date-time
                  description: Date d'expiration du token (4 heures)
                user_id:
                  type: integer
                user:
                  type: object
                  properties:
                    id:
                      type: integer
                    login:
                      type: string
                    name:
                      type: string
                    email:
                      type: string
                company:
                  type: object
                  nullable: true
                  properties:
                    id:
                      type: integer
                      nullable: true
                    name:
                      type: string
                      nullable: true

    # ------------------------------------------------------------------ #
    # Utilisateurs                                                         #
    # ------------------------------------------------------------------ #
    UserShort:
      type: object
      properties:
        id:
          type: integer
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
        telephone:
          type: string
          nullable: true
        active:
          type: boolean
        company_id:
          $ref: '#/components/schemas/RegistrationCompany'
        profile_id:
          type: object
          nullable: true
          properties:
            id:
              type: integer
            name:
              type: string

    UserDetail:
      allOf:
        - $ref: '#/components/schemas/UserShort'
        - type: object
          properties:
            custom_user_id:
              type: object
              nullable: true
              properties:
                id:
                  type: integer
                login:
                  type: string
                name:
                  type: string
            profile_group_ids:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: integer
                  name:
                    type: string
                  full_name:
                    type: string

    UserListResponse:
      allOf:
        - $ref: '#/components/schemas/ApiSuccess'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/UserShort'

    UserDetailResponse:
      allOf:
        - $ref: '#/components/schemas/ApiSuccess'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/UserDetail'

    UserCreateBody:
      type: object
      required: [first_name, last_name, email, profile_id, password]
      properties:
        first_name:
          type: string
          example: Jean
        last_name:
          type: string
          example: Dupont
        email:
          type: string
          format: email
          example: jean.dupont@exemple.com
        telephone:
          type: string
          example: "+237600000000"
        profile_id:
          type: integer
          description: ID du profil mdau.user.profile
          example: 5
        password:
          type: string
          format: password
          example: MonMotDePasse123

    UserUpdateBody:
      type: object
      required: [user_id]
      properties:
        user_id:
          type: integer
          example: 42
        first_name:
          type: string
        last_name:
          type: string
        email:
          type: string
          format: email
        telephone:
          type: string
        active:
          type: boolean
        profile_id:
          type: integer
        password:
          type: string
          format: password

    UserDeleteBody:
      type: object
      required: [user_id]
      properties:
        user_id:
          type: integer
          example: 42

    FlagPasswordBody:
      type: object
      required: [user_id, password]
      properties:
        user_id:
          type: integer
          example: 42
        password:
          type: string
          format: password
          example: NouveauMotDePasse!

    # ------------------------------------------------------------------ #
    # Profils                                                              #
    # ------------------------------------------------------------------ #
    ProfileShort:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
          nullable: true
        module_ids:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
        company_id:
          $ref: '#/components/schemas/RegistrationCompany'
        group_count:
          type: integer

    ProfileDetail:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
          nullable: true
        company_id:
          $ref: '#/components/schemas/RegistrationCompany'
        module_ids:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string
              display_name:
                type: string
              groups:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    full_name:
                      type: string
                    category_id:
                      type: object
                      nullable: true
                      properties:
                        id:
                          type: integer
                        name:
                          type: string
                    selected:
                      type: boolean

    ProfileListResponse:
      allOf:
        - $ref: '#/components/schemas/ApiSuccess'
        - type: object
          properties:
            data:
              type: array
              items:
                $ref: '#/components/schemas/ProfileShort'

    ProfileDetailResponse:
      allOf:
        - $ref: '#/components/schemas/ApiSuccess'
        - type: object
          properties:
            data:
              $ref: '#/components/schemas/ProfileDetail'

    ProfileCreateBody:
      type: object
      required: [name, company_id, module_ids, group_ids]
      properties:
        name:
          type: string
          example: Profil Comptable
        description:
          type: string
          nullable: true
        company_id:
          type: integer
          description: ID de la société rm.registration.model
          example: 3
        module_ids:
          type: array
          items:
            type: integer
          example: [10, 15]
          description: Liste d'IDs de modules installés (ir.module.module)
        group_ids:
          type: array
          items:
            type: integer
          example: [22, 45, 60]
          description: >
            Liste d'IDs de groupes (res.groups) appartenant aux modules sélectionnés.
            Chaque module doit avoir au moins un groupe.

    ProfileUpdateBody:
      type: object
      required: [profile_id]
      properties:
        profile_id:
          type: integer
          example: 7
        name:
          type: string
        description:
          type: string
          nullable: true
        module_ids:
          type: array
          items:
            type: integer
          description: Si fourni, group_ids devient obligatoire.
        group_ids:
          type: array
          items:
            type: integer

    ProfileDeleteBody:
      type: object
      required: [profile_id]
      properties:
        profile_id:
          type: integer
          example: 7

    # ------------------------------------------------------------------ #
    # Modules & Groupes                                                    #
    # ------------------------------------------------------------------ #
    ModuleObject:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        display_name:
          type: string
        shortdesc:
          type: string
        summary:
          type: string
          nullable: true
        state:
          type: string
          example: installed
        category_id:
          type: object
          nullable: true
          properties:
            id:
              type: integer
            name:
              type: string
        author:
          type: string
        installed_version:
          type: string
        application:
          type: boolean

    GroupObject:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        full_name:
          type: string
        comment:
          type: string
          nullable: true
        users_count:
          type: integer
        implied_ids:
          type: array
          items:
            type: object
            properties:
              id:
                type: integer
              name:
                type: string

    CategoryWithGroups:
      type: object
      properties:
        category_id:
          type: integer
        category_name:
          type: string
        category_sequence:
          type: integer
        groups:
          type: array
          items:
            $ref: '#/components/schemas/GroupObject'

  responses:
    Unauthorized:
      description: Token manquant ou invalide
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          example:
            success: false
            status_code: 401
            message: "Token invalide ou expiré."
            message_type: error

    Forbidden:
      description: Droits insuffisants
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'
          example:
            success: false
            status_code: 403
            message: "Accès refusé. Vous n'avez pas les droits nécessaires."
            message_type: error

    NotFound:
      description: Ressource introuvable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

    InternalError:
      description: Erreur interne du serveur
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiError'

# ====================================================================== #
# PATHS                                                                    #
# ====================================================================== #
paths:

  # ------------------------------------------------------------------ #
  # AUTH                                                                 #
  # ------------------------------------------------------------------ #
  /api/auth/token:
    post:
      tags: [Authentification]
      summary: Obtenir un token API
      description: >
        Authentifie l'utilisateur avec son login/mot de passe Odoo et retourne un token API
        valable **4 heures**.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [login, password]
              properties:
                login:
                  type: string
                  example: admin@exemple.com
                password:
                  type: string
                  format: password
                  example: MonMotDePasse
      responses:
        '200':
          description: Token retourné avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Login ou mot de passe manquant / identifiants invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/auth/refresh:
    post:
      tags: [Authentification]
      summary: Rafraîchir un token API
      description: >
        Invalide le token courant et en génère un nouveau valable 4 heures.
        Nécessite un token valide dans le header `Authorization`.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                  description: ID de l'utilisateur (optionnel, utilise l'utilisateur courant par défaut)
                  example: 5
      responses:
        '200':
          description: Token rafraîchi avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/auth/logout:
    post:
      tags: [Authentification]
      summary: Invalider le token (déconnexion)
      description: Expire immédiatement le token API actif de l'utilisateur.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                user_id:
                  type: integer
                  description: ID de l'utilisateur (optionnel)
                  example: 5
      responses:
        '200':
          description: Déconnexion effectuée avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccess'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  # ------------------------------------------------------------------ #
  # UTILISATEURS                                                         #
  # ------------------------------------------------------------------ #
  /api/users/list:
    get:
      tags: [Utilisateurs]
      summary: Lister les utilisateurs
      description: >
        Retourne tous les utilisateurs (`mdau.custom.user`) accessibles selon le scope
        de l'administrateur connecté.
      responses:
        '200':
          description: Liste des utilisateurs retournée avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/users/{user_id}:
    get:
      tags: [Utilisateurs]
      summary: Obtenir un utilisateur par ID
      description: Retourne les détails complets d'un utilisateur, y compris ses groupes de profil.
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
          example: 42
      responses:
        '200':
          description: Utilisateur retourné avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDetailResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/users/create:
    post:
      tags: [Utilisateurs]
      summary: Créer un utilisateur
      description: >
        Crée un nouvel utilisateur MDAU et le compte système Odoo associé.
        L'email doit être unique. Le profil doit appartenir à une société autorisée.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreateBody'
      responses:
        '201':
          description: Utilisateur créé avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDetailResponse'
        '400':
          description: Champs manquants ou email déjà existant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Profil introuvable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/users/update:
    put:
      tags: [Utilisateurs]
      summary: Mettre à jour un utilisateur
      description: >
        Met à jour un ou plusieurs champs d'un utilisateur existant.
        Au moins un champ modifiable doit être fourni en plus de `user_id`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateBody'
      responses:
        '200':
          description: Utilisateur mis à jour avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDetailResponse'
        '400':
          description: Champs invalides ou email déjà utilisé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/users/deactivate/{user_id}:
    post:
      tags: [Utilisateurs]
      summary: Désactiver un utilisateur
      description: Désactive l'utilisateur MDAU et son compte système Odoo associé.
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
          example: 42
      responses:
        '200':
          description: Utilisateur désactivé avec succès
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccess'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id:
                            type: integer
                          email:
                            type: string
                          active:
                            type: boolean
                            example: false
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/users/activate/{user_id}:
    post:
      tags: [Utilisateurs]
      summary: Activer un utilisateur
      description: Réactive l'utilisateur MDAU et son compte système Odoo associé.
      parameters:
        - name: user_id
          in: path
          required: true
          schema:
            type: integer
          example: 42
      responses:
        '200':
          description: Utilisateur activé avec succès
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccess'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id:
                            type: integer
                          email:
                            type: string
                          active:
                            type: boolean
                            example: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/users/delete:
    delete:
      tags: [Utilisateurs]
      summary: Supprimer (désactiver) un utilisateur
      description: >
        Désactive l'utilisateur. L'utilisateur doit être actif et appartenir
        à une société autorisée.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserDeleteBody'
      responses:
        '200':
          description: Utilisateur désactivé avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiSuccess'
        '400':
          description: user_id manquant ou utilisateur déjà désactivé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/users/flag-password:
    post:
      tags: [Utilisateurs]
      summary: Changer le mot de passe (première connexion)
      description: >
        Permet à un utilisateur de définir son mot de passe lors de sa première connexion
        et marque le flag `is_user_first_connexion` à `false`.
        Un administrateur peut aussi effectuer cette action pour n'importe quel utilisateur.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlagPasswordBody'
      responses:
        '200':
          description: Mot de passe mis à jour avec succès
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccess'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id:
                            type: integer
                          is_user_first_connexion:
                            type: boolean
                            example: false
        '400':
          description: Champs manquants
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # ------------------------------------------------------------------ #
  # PROFILS                                                              #
  # ------------------------------------------------------------------ #
  /api/profiles/list:
    get:
      tags: [Profils]
      summary: Lister les profils
      description: Retourne tous les profils actifs accessibles selon le scope de l'administrateur.
      responses:
        '200':
          description: Liste des profils récupérée avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/profiles/{profile_id}:
    get:
      tags: [Profils]
      summary: Obtenir un profil par ID
      description: >
        Retourne les détails complets d'un profil, incluant pour chaque module
        la liste des groupes avec leur état de sélection (`selected`).
      parameters:
        - name: profile_id
          in: path
          required: true
          schema:
            type: integer
          example: 7
      responses:
        '200':
          description: Détails du profil retournés avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileDetailResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/profiles/create:
    post:
      tags: [Profils]
      summary: Créer un profil
      description: >
        Crée un nouveau profil utilisateur pour une société donnée.
        Chaque module sélectionné doit avoir au moins un groupe associé dans `group_ids`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileCreateBody'
      responses:
        '201':
          description: Profil créé avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileDetailResponse'
        '400':
          description: Champs manquants, modules/groupes invalides, ou nom déjà existant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/profiles/update:
    put:
      tags: [Profils]
      summary: Mettre à jour un profil
      description: >
        Met à jour un profil existant. Si `module_ids` est fourni, `group_ids` devient obligatoire
        et les deux listes remplacent entièrement les valeurs existantes.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileUpdateBody'
      responses:
        '200':
          description: Profil mis à jour avec succès
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileDetailResponse'
        '400':
          description: Champs invalides
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/profiles/delete:
    delete:
      tags: [Profils]
      summary: Supprimer (archiver) un profil
      description: Archive le profil (met `active` à `false`). Le profil doit être actif.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfileDeleteBody'
      responses:
        '200':
          description: Profil désactivé avec succès
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccess'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id:
                            type: integer
        '400':
          description: profile_id manquant ou profil déjà archivé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  # ------------------------------------------------------------------ #
  # MODULES & GROUPES                                                    #
  # ------------------------------------------------------------------ #
  /api/profiles/modules/list:
    get:
      tags: [Modules & Groupes]
      summary: Lister les modules installés
      description: Retourne tous les modules Odoo installés et marqués comme applications.
      parameters:
        - name: category
          in: query
          required: false
          schema:
            type: string
          description: Filtrer par nom de catégorie de module
          example: Comptabilité
      responses:
        '200':
          description: Liste des modules retournée avec succès
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccess'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/ModuleObject'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/profiles/categories_groups_by_module/list/{module_id}:
    get:
      tags: [Modules & Groupes]
      summary: Catégories et groupes d'un module
      description: >
        Retourne les catégories et groupes de droits associés à un module Odoo spécifique.
      parameters:
        - name: module_id
          in: path
          required: true
          schema:
            type: integer
          example: 10
      responses:
        '200':
          description: Catégories et groupes retournés avec succès
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccess'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/CategoryWithGroups'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Module introuvable ou non installé
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '500':
          $ref: '#/components/responses/InternalError'

  /api/profiles/categories_groups/list:
    get:
      tags: [Modules & Groupes]
      summary: Catégories et groupes de tous les modules
      description: >
        Retourne pour chaque module installé ses catégories et groupes de droits,
        triés par séquence.
      responses:
        '200':
          description: Catégories et groupes retournés avec succès
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ApiSuccess'
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            module_id:
                              type: integer
                            module_name:
                              type: string
                            module_display_name:
                              type: string
                            categories:
                              type: array
                              items:
                                $ref: '#/components/schemas/CategoryWithGroups'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

tags:
  - name: Authentification
    description: Gestion des tokens API (login, refresh, logout)
  - name: Utilisateurs
    description: CRUD et gestion des utilisateurs MDAU
  - name: Profils
    description: CRUD des profils de droits utilisateurs
  - name: Modules & Groupes
    description: Consultation des modules Odoo et de leurs groupes de droits
